<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
	
		<div class="container">
			<h1> Cadastro de Clientes</h1>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/listaclientes"> Clientes </a>
				</div>
				<a href="/cliente/formulario"> <button type="button" class="btn btn-success">Novo Cliente</button> </a>
			</nav>
			
			<div class="form-group">
			<form th:object="${requisicaoNovoCliente}" action ="/cliente/novo" method="POST" class="formulario-checkout mt-3 mt-sm-0" novalidate  >
			  <div class="row">
   			  <div class="col">
				<div class="form-group">
					<label for="nome">Nome do Cliente</label>
					<input th:field="*{nome}" placeholder="nome do cliente" class="form-control input" data-tipo="Required" type="text" id="nome" name="nome"  maxlength="200" required/>
					<div class="invalid-feedback"> O nome é obrigatório.</div>	                         			
				</div>
			 </div>
   			 <div class="col">
				<div class="form-group">	
					<label for="cpf">CPF</label>
					<input th:field="*{cpf}" placeholder="cpf"  data-tipo="TestaCPF" class="form-control input" type="number" id="cpf" name="cpf"  required/>
					<div class="invalid-feedback"> O CPF é obrigatório.</div>

               </div>
  			</div>
			</div>
			
			<div class="row">
   			<div class="col">
				<div class="form-group">
					<label for="telefone">Telefone</label>
					<input th:field="*{telefone}" placeholder="telefone" data-tipo="TestaTelefone" class="form-control input" type="number" id="telefone" name="telefone"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			 </div>
   			 <div class="col">
				<div class="form-group">
					<label for="email">E-mail</label>
					<input th:field="*{email}" placeholder="email" data-tipo="TestaEmail" class="form-control input" type="text" id="email" name="email"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>	
				</div>
			</div>
			</div>
				
			<div class="row">
   			<div class="col">
				<div class="form-group">
					<label for="rua">Rua</label>
					<input th:field="*{rua}" placeholder="rua" data-tipo="TestaRua" class="form-control input" type="text" id="rua" name="rua"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			   </div>
			
   			 <div class="col">
				<div class="form-group">	
					<label for="numero">Número</label>
					<input th:field="*{numero}" placeholder="numero" data-tipo="TestaNumero" class="form-control input" type="number" id="number" name="number"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div >
			  </div>
			</div>	
			
			<div class="row">
   			<div class="col">
				<div class="form-group">
					<label for="complemento">Complemento </label>
					<input th:field="*{complemento}" placeholder="complemento" data-tipo="TestaComplemento" class="form-control input" type="text" id="complemento" name="complemento"/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			 </div>
   			 <div class="col">
				<div class="form-group">
					<label for="bairro">Bairro</label>
					<input th:field="*{bairro}" placeholder="bairro" data-tipo="TestaBairro" class="form-control input" type="text" id="bairro" name="bairro"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			</div>
			</div>	
			<div class="row">
   			<div class="col">
				<div class="form-group">	
					<label for="cidade">Cidade</label>
					<input th:field="*{cidade}" placeholder="cidade" data-tipo="TestaCidade" class="form-control input" type="text" id="cidade" name="cidade"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			 </div>
   			 <div class="col">
				<div class="form-group">	
					<label for="estado">Estado</label>
					<input th:field="*{estado}" placeholder="estado" data-tipo="TestaEstado" class="form-control input" type="number" id="estado" name="estado"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			</div>
			</div>	
			<div class="row">
   			<div class="col">
				<div class="form-group">	
					<label for="profissao">Profissão</label>
					<input th:field="*{profissao}" placeholder="profissao" data-tipo="TestaProfissao" class="form-control input" type="text" id="profissao" name="profissao"  required/>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			 </div>
   			 <div class="col">
				<div class="form-group">	
					<label for="renda">Renda</label>
					<input th:field="*{renda}" placeholder="renda" data-tipo="TestaRenda" class="form-control input" type="number" id="renda" name="renda"  required/>
					<small>Maior que 1</small>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>
			 </div>
   			 <div class="col">
				<div class="form-group">	
					<label for="status">Status</label>
					<input th:field="*{status}" placeholder="status" data-tipo="TestaStatus" class="form-control input" type="Text" id="status" name="status"  required/> 
					<small>ATIVO ou SUSPENSO</small>
					<div class="invalid-feedback"> O campo é obrigatório.</div>
				</div>				
			</div>
			</div>
				<button type="submit"> Cadastrar</button>
				<input class="btn btn-primary" type="submit" value="submit">
			</form>
			</div>
		</div>
		 <script src="/dist/js/app.js" type="module"></script>
	</body>
</html>